.create-user-header{
  padding-top: vw(20px);
  padding-bottom:vw(20px);
  text-align: center;
}

.create-user-form-container{
  padding: 0 vw(20px);

  .input-label{
    padding-right: vw(30px);
    text-align: right;
  }
}